.back{
    background: #EEF1F4;
}

.font{
    color: #545F71;
}
.contain{
    margin-left:21vw ; 
}

/* JobFeed Application  MyProfile*/
.fontHead{
    margin-left: 3vw !important;
}
/* JobFeed Application  MyProfile*/